<div class="pb-5">
  <h4>Header</h4>
  <div class="d-flex flex-column mb-3 ms-3">
    <div class="d-flex flex-row mb-3">
      <div class="me-3">
        <label for="first-name" class="form-label">First name</label>
        <input type="text" class="form-control" id="first-name" [(ngModel)]="cv.firstName" placeholder="Boris" />
      </div>
      <div>
        <label for="last-name" class="form-label">Last name</label>
        <input type="text" class="form-control" id="last-name" [(ngModel)]="cv.lastName" placeholder="Johnson" />
      </div>
    </div>
    <div class="d-flex flex-row">
      <div>
        <label for="position" class="form-label">Position</label>
        <input type="text" class="form-control" id="position" [(ngModel)]="cv.position" placeholder="Fullstack developer" />
      </div>
    </div>
  </div>


  <app-create-cv-container *ngFor="let c of cv.containers"
                           [title]="c.title"
                           (newSectionEvent)="c.add($event)"
                           (sectionRemovedEvent)="c.remove($event)"
                           (sectionUpdatedEvent)="c.update($event)"></app-create-cv-container>

  <div class="w-100 d-flex flex-row justify-content-center">
    <button class="btn btn-lg btn-primary" (click)="saveCV()">Save CV</button>
  </div>
</div>
